#main {
    width: 50rem;
    min-height: 90vh;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding: 20px 30px;
    border: 2px solid #efefef;
}

#main h1 {
    font-size: 4rem;
    padding-bottom: 20px;
}

.main_img {
    width: 25rem;
    height: 21rem;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_img img {
    display: inline-block;
    width: 100%;

}

.main_info {
    font-size: 1.5rem;
    padding: 20px 0;
}

