#result {
    display: none;
    width: 50rem;
    min-height: 90vh;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding: 20px 30px;
    border: 2px solid #efefef;
}

#result h1 {
    font-size: 3.5rem;
    padding-bottom: 20px;
}

.result_name {
    width: 80%;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: bold;
}
.result_desc{
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 10px 20px;
}

.result_img {
    width: 22rem;
    height: 20rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.result_img img {
    display: inline-block;
    width: 100%;
}

.restart_btn, .share_btn {
    width: 5rem;
    padding: 3px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.restart_btn {    background-color: #4c8acb; color: #ffffff; border: 2px solid #4c8acb;}
.share_btn {background-color: #ffcc00; color: #210d00; border: 2px solid #210d00;}

.restart_btn:hover {
    background-color: white;
    color: #4c8acb;
    cursor: pointer;
}
.share_btn:hover {
    background-color: white;
    color: #210d00;
    cursor: pointer;
}

